*{
    margin: 0;
    padding: 0;
}

body{

    width: 100%;
    overflow-x: hidden;
}

#header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 80px;
background: #E3E6F3;
box-shadow: 0 5px 15px rgba(0,0,0,0.06);
z-index: 999;
position: sticky;
top: 0;
left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;

}
#navbar li a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 40%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    background: #088178;
    left:18px;
}
#hero{
    background-image: url(./img/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    padding: 0 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction:column ;
    background-position: top 25% right 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3s ease;
}
#hero h4{
    padding-bottom: 5px;
    font-size: 40px;
    letter-spacing: 3px;
    word-spacing: 1px;

}
#hero h2{
   font-size: 60px;
   letter-spacing: 1px;
   word-spacing: 1px;
}

#hero h1{
    color: #088178;
    font-size: 60px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
#hero p{
font-weight: 100;
color: #060606;
}
#hero a{
    background-image:url(./img/button.png) ;
    background-color: transparent;
    color: #088178;
    border: 0;
    margin-top: 10px;
    padding: 14px 80px 14px 65px ;
    font-size: 15px;
    font-weight: 700;
    background-repeat: no-repeat;
    cursor: pointer;
    text-decoration: none;

}

.section-p1{
    padding: 40px 80px;
}
.section-m1{
  margin: 40px 0;
}

#feature .fe-box{
width: 180px;
text-align: center;
padding: 25px 15px;
box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
border: 1px solid #cce7d0;
border-radius: 4px;
margin: 15px 0;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#feature .fe-box:hover{
     box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
    
    }
     
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}   
#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #Fddde4;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;

}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;

}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;

}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;

}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2ef;

}
#feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#product1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 42px;
}
#product1 .pro{
    width: 23%;
    min-width:250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.02) ;
    margin:15px 0 ;
    transition: 0.3s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow:20px 20px 30px rgba(0,0,0,0.06) ;
}
#product1 h2{
    font-size:50px;
    letter-spacing:0.5px;
}
#product1 p{
    color: #060606;
    font-weight:lighter;
    margin-top: 6px;
    font-size: 19px;
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
text-align:start;
padding: 10px 0;
}
#product1 .pro .des span{
    color: #060606;
    font-size:12px;
}
#product1 .pro .des h5{
    color: #1a1a1a;
    font-size:14px;
    padding-top:7px;
}
#product1 .pro .des i {
    margin-top: 3px;
    font-size:19px;
    margin-right: -2px;
    color: rgb(243,181,25)
}
#product1 .pro .des h4{
    padding-top:7px;
    font-size:14px;
    font-weight:700;
    color: #088178
}
#product1 .pro .kart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius:50px;
    font-weight: 500;
    background-color: #E8f6ea; 
    color: #088178; 
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#product1 .pro-container{
    display: flex;
    justify-content:space-between;
    padding-top:20px;
    flex-wrap: wrap;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    align-items:center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-image: url(./img/banner/b1.jpg);
width: 100%;
height:40vh;
background-size: cover;
background-position: center;

}
#banner h4{
    color: #fff;
    font-size:36px;

}
#banner h2{
    color: #fff;
    font-size:33px;
    padding:10px 0;
}
#banner h2 span{
    color:#ef3636
}
button.normal{
font-size:14px;
font-weight:550;
padding: 15px 30px;
color:#000;
background-color: #fff;
border-radius:4px;
cursor: pointer;
border: none;
outline: none;
transition: 0.2s;
}
#banner button:hover{
background-color: #088178;
color: #fff;
}
#sm-banner{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-image: url(./img/banner/b17.jpg);
min-width: 580px;
height:50vh;
background-size: cover;
background-position: center;
padding:40px;

}

#sm-banner h4{
    color: #fff;
    font-size:25px;
    font-weight:500;
}

#sm-banner h2{
    color: #fff;
    font-size:39px;
    font-weight:700;
}
#sm-banner span{
    color: #fff;
    font-size:20px;
    font-weight:500;
}

button.white{
    font-size:16px;
    font-weight:550;
    padding: 11px 16px;
    color:#fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    font-weight:600;
    transition: 0.2s;
    }
#sm-banner .banner-box:hover button{
background: #088178;
border: 1px solid #088178
}

#sm-banner .banner-box2{
    background-image: url(./img/banner/b10.jpg)
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-image: url(./img/banner/b7.jpg);
min-width: 20%;
height:30vh;
background-size: cover;
background-position: center;
padding:20px;
margin-bottom: 20px;

}

#banner3 .banner-box h2{
    color: #fff;
    font-size:42px;
    font-weight:700;
}

#banner3 .banner-box h4{
    color: #ec544e;
    font-size:32px;
    font-weight:bold;

}
#banner3{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding:0 80px;
}

#banner3 .banner-box2{
    background-image: url(./img/banner/b4.jpg);
}
#banner3 .banner-box3{
    background-image: url(./img/banner/b18.jpg);
}
#newsletter{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    background-image: url(./img/banner/b14.png);
    background-repeat: no-repeat;
    background-position:20% 30%;
    background-color: #041e42;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
}

#newsletter h4{
    font-size:29px;
    color:#fff;
    font-weight:1000;
}
#newsletter  p{
    font-size:20px;
    color:#818ea0;
    font-weight:500;
}
#newsletter p span{
    color: #ffbd27
}
#newsletter input{
    height: 3.125rem;
    padding:0 1.25rem;
    font-size:14px;
    width: 100%;
    border:1px solid transparent;
    border-radius:4px;
    outline: none;
    border-top-right-radius:0 ;
    border-bottom-right-radius:0;
    /* margin-left: -50px; */
}

#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    /* margin-left: -50px;
    margin-top: 10px; */
    border-top-left-radius:0 ;
    border-bottom-left-radius:0;
    font-weight: 700;
}
#newsletter .form{
    display: flex;
    width:40%;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-transform: capitalize;
}

footer .col{
    display: flex;
    flex-direction:column;
align-items:flex-start;
   margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 20px;
    padding-bottom: 20px;
}
footer p{
    font-size:13px;
    margin: 0 0 8px;
}

footer a{
    font-size:13px;
    margin: 0 0 8px;
    text-decoration: none;
    color: #222;
}
footer .follow{
  color:#465b52;
  padding-right:4px;
  cursor:pointer;
}
footer .install .row img{
border:1px solid #088178;
border-radius: 6px;
cursor: pointer;
}

footer .install img{
margin:3px 0 10px 0;
}
footer .follow i:hover,
footer a:hover{
color: #088178;
}
 
footer .copyright{
width: 100%;
text-align: center;
}